Tools/*.exe
Tools/*.dll
Tools/*.json
prefetch_analyzer/data/*.json
experiment
signature_scan.log
# Ignore all .db files recursively
*.db

# Ignore all .log files recursively
*.log

#Ignore all .pyc files recursively
*.pyc

# Ignore all __pycache__ folders recursively
__pycache__/